#Ignore all Allure report files
/allure-results/0afcd805-e9b4-46ba-a0ff-625c11285a6c-container.json
/allure-results/0b5813ac-5ca9-402a-a982-5a2b17f8fd45-result.json
/allure-results/0fc459c3-18a7-4551-99af-bbc65a42a324-container.json
/allure-results/1a6f359f-9117-4707-bd14-a05c0a592b70-container.json
/allure-results/1a8185cd-48e1-4b37-8534-d6bfeb514cc9-container.json
/allure-results/2d99f9fd-0614-440e-b8bc-9d1a61335e66-result.json
/allure-results/2fd7c67d-f6bd-4357-8e4b-a27919f8d02b-result.json
/allure-results/3b0beec6-49fa-4089-83e9-44de2a860da0-result.json
/allure-results/3b5f6723-3c2f-4521-a2fe-420cbb267982-container.json
/allure-results/3c1ee83c-75e1-4f10-b553-ee61f34c3d8e-result.json
/allure-results/3c6ea6c1-436a-441f-b350-efcdd67eecfd-container.json
/allure-results/04a2fd55-a607-42ad-983a-dc10980a8f2f-result.json
/allure-results/5c3913c3-3a04-4603-973c-529169ba3f49-container.json
/allure-results/5cfb7ab0-21bc-45af-862c-9e3400e03b8e-container.json
/allure-results/5d040384-1fc7-4ada-a1d7-adcf0675b392-container.json
/allure-results/7bae1a75-fe9f-49a2-b566-b9e3736fa6ac-container.json
/allure-results/7d204aad-4f1c-4aa4-8aa6-bcb883178d86-container.json
/allure-results/7e41f2b8-ab90-432b-8d25-b8843b7a0ab8-container.json
/allure-results/8eb694e0-6993-43b8-8d25-6f1e3decd7f8-container.json
/allure-results/8ebb7fc3-40ea-4000-8639-b42fc76c9d59-container.json
/allure-results/9d8c8cc8-bc8b-4169-bb61-85b1d6a9fcc4-container.json
/allure-results/48d9c1c2-06dd-4063-8a7e-2439acd3e9c0-result.json
/allure-results/66aae3d5-1dbd-4885-aa90-03e696cd2782-container.json
/allure-results/76f27acd-cde4-49fb-aeac-37bc13a6109e-container.json
/allure-results/80fe3762-251d-4937-9438-bf904986a82e-container.json
/allure-results/86ca8bab-82ef-4f36-acab-09d0b33486e2-container.json
/allure-results/95ad09c1-9bfa-4f70-881d-6192686866cf-container.json
/allure-results/99acb6b2-fdd9-4228-acf4-97fcbb086ede-result.json
/allure-results/99ef8916-295b-41e0-8d70-79a1b5f5dc83-container.json
/allure-results/0242c384-ea90-4e04-9758-697ec82f31de-container.json
/allure-results/366bfa45-80e5-4ca9-b5eb-d5497ca2dee0-result.json
/allure-results/490cda73-028e-45d6-9209-11f77fed741e-container.json
/allure-results/490ee6a7-2fa9-405d-bcc4-6240b53434a3-container.json
/allure-results/502b4f4d-4956-4ee8-b4cf-9a514fd1d353-container.json
/allure-results/595c28fe-d7b3-4ea9-9d62-c651b8152632-container.json
/allure-results/769df27a-1324-43dd-afe2-adbc1709694e-container.json
/allure-results/4915ba4c-6eea-4da3-a8b4-373ce522b19f-container.json
/allure-results/90794a6f-59b7-4b2a-96ce-0e44f41506d4-container.json
/allure-results/a8c100a1-4e48-4495-8427-045bd03d9aa5-container.json
/allure-results/a9d38129-4211-42de-92a7-149e1ce10c17-container.json
/allure-results/b021ea86-9ba6-4529-9567-cbf7afa78571-container.json
/allure-results/b96e64ea-6168-40c2-a74b-b91881ba5055-container.json
/allure-results/b51724f6-ff30-42ee-98e0-52fc0ccf5507-container.json
/target/test-classes/util/BaseTest.class
/allure-results/bf7f50c8-7441-4ac9-8395-cdf818189cad-container.json
/allure-results/bf0573de-a717-47a6-93de-d9e9ad52115f-result.json
/allure-results/c5fba657-729e-4986-afa3-1a478ba12f40-container.json
/allure-results/c16d7d77-1c8b-46c1-8c07-1fcbd6491c9d-container.json
/allure-results/c61c6015-648d-412f-aabd-546b4331f1ec-container.json
/allure-results/c82aef0a-e40c-4749-b38c-869829a0da5f-container.json
/allure-results/ca576c8e-4adb-42ec-91fd-abde6e204a9f-container.json
/allure-results/cee61af9-f97e-48b5-8ca1-c43d95ce5c15-result.json
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/allure-results/d2b3cc59-abe8-4906-9104-14fff28a9e06-container.json
/allure-results/d0026ac1-8a02-4c7f-9b2d-4ab7dbade4b3-result.json
/allure-results/d52b71f9-3cee-4acd-978d-1849057970fd-container.json
/allure-results/da2aae19-8915-42da-91a3-44d848578414-result.json
/allure-results/db3e607a-e267-4319-9448-9f2caf5e68b8-container.json
/allure-results/dc0f2146-f694-4b2c-ac16-9e693efd3f5f-result.json
/allure-results/dd0b68f2-4ee5-41b9-9142-12a59f5943e9-container.json
/target/test-classes/fnb/drivermanager/DriverManager.class
/allure-results/e0b6e4fb-c621-4319-bb0c-14b398eb2dbf-container.json
/allure-results/e0718eef-9ece-41c9-9a25-f1bbee20b6e8-container.json
/allure-results/e3379fd1-3536-4feb-bd05-9c55ffcd67e3-container.json
/allure-results/e943151c-9eb8-46bb-8364-67ecc696aa7a-container.json
/allure-results/ed05421d-a2a7-4420-b18b-8a7d1aeacc94-container.json
/allure-results/efbaf41a-5594-4e5d-a55a-eeac444dfddf-container.json
/allure-results/f16ba454-4942-4c61-ad06-fcde3475fe06-container.json
/allure-results/f5550f30-bd27-417f-a5a2-2e917b6a7fe2-container.json
/allure-results/f25253fe-4309-45fc-bb35-12361f55d87c-result.json
/target/test-classes/fnb/login/HeadlessTest.class
/target/test-classes/fnb/landingpage/HomePageTest.class
/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/target/test-classes/fnb/login/LoginPage.class
/target/test-classes/fnb/login/LoginTest.class
/.idea/inspectionProfiles/Project_Default.xml
/target/test-classes/fnb/data/TestData1$CorrectData.class
/target/test-classes/fnb/data/TestData1$IncorrectData.class

/target/test-classes/fnb/data/TestData1.class
